.whst-table {
    $table-height: 20px;
    $border: 1px;
    $actions-position: 2px;
    $table-padding: 10px;
    $pagination-padding: 4px 10px;
    $border-radius: 4px;
    
    &.-multi-line {
        .datatable-body-row .datatable-body-cell-label {
            white-space: normal;
            text-overflow: unset;
            line-height: normal;
            height: 100px;
        }
    }

    .datatable-header {
        font-size: 1.25em;
        font-weight: 300;         
        // @include padding(null $table-padding);
        border-bottom: $border solid $light-gray;
    }

    .datatable-body-row {
        border-bottom: $border solid $light-gray;

        &.datatable-row-odd {
            background-color: $pale-bg;
        }

        .datatable-body-cell {
            line-height: $table-height;
        }

        .datatable-body-cell-label {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .datatable-row-center {
            // @include padding(null $table-padding);
            padding: null $table-padding;
        }
    }

    .datatable-footer {
        // @include margin($space10 null null);
        margin: $space10 null null;

        .datatable-footer-inner {
            .datatable-pager {
                .pager {
                    li {
                        display: inline;
                    }
                }
            }
        }
    }

    .pager {
        li {
            // @include font-size($font10, $line14);
            font-size: $font10, $line14;
            &:first-child {
                a {
                    border-top-left-radius: $border-radius;
                    border-bottom-left-radius: $border-radius;
                }
            }

            &:last-child {
                a {
                    border-top-right-radius: $border-radius;
                    border-bottom-right-radius: $border-radius;
                }
            }

            &.disabled {
                a {
                    opacity: .75;
                }
            }

            &.active {
                a {
                    background-color: $light-gray;
                }
            }

            &:not(.pages) {
                font-family: serif;
            }

            > a {
                // @include margin(null null null (-$border));
                // @include padding($pagination-padding);
                margin: null null null (-$border);
                padding: $pagination-padding;
                float: left;
                transition: opacity .3s, background-color .3s;
                border-radius: 0;
            }
        }

        .datatable-icon-prev {
            letter-spacing: -2px;

            &::before {
                content: "<<";
            }
        }

        .datatable-icon-left {
            letter-spacing: -2px;

            &::before {
                content: "<";
            }
        }

        .datatable-icon-right {
            letter-spacing: -2px;

            &::before {
                content: ">";
            }
        }

        .datatable-icon-skip {
            letter-spacing: -2px;

            &::before {
                content: ">>";
            }
        }
    }

    .table-actions {
        @include font-size(0, null);
        // @include position(relative, -$actions-position null null);
        position:( relative, -$actions-position null null );
    }

    .empty-row {
        line-height: $table-height;
    }
}
