<div
    class="form-group"
    [formGroup]="group"
    [ngClass]="{
        'has-success': isValid(),
        'has-error': isInvalid()
    }"        
>
    <label [attr.for]="name">
        {{ label }}        
    </label>
        <input
            class="form-control border-input"
            [attr.id]="name"
            [type]="type"
            [formControlName]="name"
            [textMask]="maskOptions"
            [placeholder]="placeholder"
        />
        <span [hidden]="!isInvalid()" class="help-block m-b-none error">
            {{ getErrorMessage() }}
        </span>
</div>
