<div
    class="row m-b-none"
    [formGroup]="group"
>
    <div class="col-sm-3 mts" [attr.for]="name">
        {{ label }}        
    </div>

    <div class="col-sm-9 input-field">
        <input
            class="form-control"
            [attr.id]="name"
            [type]="type"
            [formControlName]="name"
            [textMask]="maskOptions"
            [placeholder]="placeholder"
        />
        <span [hidden]="!isInvalid()" class="help-block m-b-none error">
            {{ getErrorMessage() }}
        </span>
    </div>
</div>
