
<div class="container">
    <h1 class="text-center">Whistle <img class="image" src="../../assets/img/redWhistle.png"></h1>
    
    <div id="lul">
        <form (submit)="loginUser($event)">
            <div class="input text-center">
                <label class="text-center">Username</label>
            <br>
                <input type="text">
            </div>
            <br>
            <div class="input text-center">
                <label class="text-center">Password</label>
            <br>
                <input type="password">
            </div>
            <br>
            <div class="input text-center">
                <input type="submit" value="Login">
            </div>
        </form>
    </div>
</div>
