.whst-form {
    $form-inline-margin: 15px;

    .form-field {
        &:not(:last-child) {
            @include margin(null null $space10);

            @media (min-width: $screen-sm-min) {
                @include margin(null null $space20);
            }
        }
    }

    .form-field-xs {
        @media (max-width: $screen-xs-max) {
            @include margin(null null $space20);
        }
    }

    .label-alt {
        font-weight: $font-regular;
        text-align: left;
    }

    .form-field-block {
        .control-label {
            @include padding(0 null null);
            @include margin(null null $space5);

            width: auto;
        }

        .pdo-select,
        .input-field {
            display: block;
            width: 100%;
        }
    }
}

.whst-form-login {
    .actions {
        @include margin($space30 null null);
    }
}
