@mixin grid-container() {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

@mixin outer-container($container-max-width: $max-width) {
    @include margin(null auto);

    max-width: $container-max-width;
}

@mixin font-size($font-size: null, $line-height: null) {
    font-size: $font-size;
    line-height: $line-height;
}

@mixin button($button-padding, $font-size) {
    @include padding($button-padding);

    font-family: $font-family-primary;
    font-size: $font-size;
    font-weight: $font-regular;
    line-height: 1;
    outline: 0;
    border: 0;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    white-space: nowrap;
    transition: background-color $trans3 ease-out,
                border-color $trans3 ease-out,
                color $trans3 ease-out;

    &[disabled] {
        opacity: .5;
    }

    &.-block {
        display: block;
        width: 100%;
    }
}

@mixin button-color($bg-color, $text-color, $hover-color, $hover-text-color) {
    background-color: $bg-color;
    color: $text-color;

    &:hover:not([disabled]),
    &:focus:not([disabled]),
    &.-active {
        background-color: $hover-color;
        color: $hover-text-color;
    }
}
