    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Jogos</h4>
                    </div>
                    <div class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr *ngFor="let row of tableData1.dataRows">
                                <td *ngFor="let cell of row; let i = index">
                                    <div *ngIf="i!=4"> {{cell}} </div>
                                    <div *ngIf="i===4">
                                            <ng-select
                                                [multiple]="true"
                                                [allowClear]="true"
                                                [items]="refereesNames"
                                                placeholder="Nenhum árbitro selecionado">
                                            </ng-select>
                                        </div>
                                </td>
                            </tr>
                            

                        </tbody>
                    </table>
                    
                    </div>
                    <!--<div class="content">

                         <div class="typo-line">
                            <h1><p class="category">Header 1</p>Paper Dashboard Heading </h1>
                        </div>

                            <div class="typo-line">
                            <h2><p class="category">Header 2</p>Paper Dashboard Heading </h2>
                        </div>
                        <div class="typo-line">
                            <h3><p class="category">Header 3</p>Paper Dashboard Heading </h3>
                        </div>
                        <div class="typo-line">
                            <h4><p class="category">Header 4</p>Paper Dashboard Heading </h4>
                        </div>
                        <div class="typo-line">
                            <h5><p class="category">Header 5</p>Paper Dashboard Heading </h5>
                        </div>
                         <div class="typo-line">
                            <h6><p class="category">Header 6</p>Paper Dashboard Heading </h6>
                        </div>
                        <div class="typo-line">
                            <p><span class="category">Paragraph</span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>
                        </div>
                        <div class="typo-line">
                            <p class="category">Quote</p>
                            <blockquote>
                             <p>
                             Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.
                             </p>
                             <small>
                             Steve Jobs, CEO Apple
                             </small>
                            </blockquote>
                        </div>

                        <div class="typo-line">
                            <p class="category">Muted Text</p>
                            <p class="text-muted">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.
                            </p>
                        </div>
                        <div class="typo-line">

                            <p class="category">Coloured Text</p>
                            <p class="text-primary">
                                Text Primary - Light Bootstrap Table Heading and complex bootstrap dashboard you've ever seen on the internet.
                            </p>
                            <p class="text-info">
                                Text Info - Light Bootstrap Table Heading and complex bootstrap dashboard you've ever seen on the internet.
                            </p>
                            <p class="text-success">
                                Text Success - Light Bootstrap Table Heading and complex bootstrap dashboard you've ever seen on the internet.
                            </p>
                            <p class="text-warning">
                                Text Warning - Light Bootstrap Table Heading and complex bootstrap dashboard you've ever seen on the internet.
                            </p>
                            <p class="text-danger">
                                Text Danger - Light Bootstrap Table Heading and complex bootstrap dashboard you've ever seen on the internet.
                            </p>
                        </div>

                        <div class="typo-line">
                            <h2><p class="category">Small Tag</p>Header with small subtitle <br><small>".small" is a tag for the headers</small> </h2>
                        </div> 


                    </div>-->

                </div>
                

        </div>
        <!-- <div class="col-md-6">
        <div class="card">
                    <div class="header">
                        <h4 class="title">Árbitros</h4>
                    </div>
                    <div class="content">
                    </div>
            </div>
        </div> -->
    </div>
